@import "../../scss/variables.scss";
.pageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.cartContainer {
  border: 2px solid #ccc;
  padding: 20px;
  border-radius: 30px;
  margin: 50px;
  width: calc(100% - 100px);
}

.cartList {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.cartItem {
  display: flex;
  border: 1px solid #ccc;
  border-radius: 5px;
  justify-content: space-between;
}
.cartItem p {
  font-size: 20px;
}

.moviePoster {
  width: 100px;
  margin-right: 1rem;
  padding: 3px;
  border-radius: 5px;
}

.itemDetails {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.price {
  border-color: black;
  border-left: 1px solid #ccc;
  display: flex;
  align-items: center;
  padding: 0 15px;
  height: 100%;
}
.priceButtonContainer {
  display: flex;
  align-items: center;
  padding: 10px;
  width: 200px;
}

.buttonDelete {
  margin-left: auto;
  margin-right: 20px;
}
.totalPrice {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 20px;
  border-bottom: 1px solid #370404;
}

.buy {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 20px;
  flex-direction: row-reverse;
}

.formContainer {
  margin-bottom: 20px;
}

.discountform {
  display: flex;
  align-items: center;
  font-family: $mainFont;
}

.input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
  width: 25%;
}

.successMessage {
  color: green;
  margin-top: 10px;
}

.errorMessage {
  color: $cancelColor;
  margin-top: 10px;
}
