@import "../../scss/variables.scss";

.tablasDash{
    background-color: red;
}

.title{
    font-size: 2rem;
    text-align: center;
    margin: auto;
    color: rgba(221, 200, 245, 0.938);
    text-shadow: 2px 0px 2px $mainColor, 0px 2px 2px $mainColor, -2px 0px 2px $mainColor, 0px -2px 2px $mainColor;
}

.tablas{
    width: 95%;
    margin: 30px auto;
    min-height: 300px;
    padding: 10px;
    border: 1px solid $mainColor;
    border-radius: 10px;
}

.divTabla{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
}

.welcome{
    font-size: 4rem;
    margin: 8% auto;
    text-shadow: 2px 0px 2px $mainColor, 0px 2px 2px $mainColor, -2px 0px 2px $mainColor, 0px -2px 2px $mainColor;
    color: rgba(235, 187, 241, 0.932);
    text-align: center;
}

.table{
    max-width: 100%;
    padding: 5px;
    color: black;

    th, td{
        max-width: 200px;
        word-wrap: break-word;
    }
}
.thead{
    background-color: $mainColor;
    color: white;
}
.tbody{
    background-color: rgba(235, 187, 241, 0.932);
}
.th{
    font-size: 1.2rem;
    padding: 5px 10px;
}
.td{
    text-align: center;
    font-weight: 700;
}

.tdDefault{
    text-align: center;
    font-weight: 700;
    font-size: 2.5rem;
    padding: 20px 5px;
}

.menu {
  color: white;
  position: absolute;
  left: 0px;
  bottom: 0px;
  height: 100%;
  width: 5%;
  background-color: $mainColor;
  transition: 0.6s;
  padding: 5px;
  margin-top: 10px;
  overflow: visible; /* Añadimos overflow: visible para que el texto desbordado sea visible */
}

// .menuText {
//   display: flex; /* Cambiamos la visibilidad a flex */
//   flex-direction: column; /* Alinear los elementos en columna */
// }

.menuText div {
  transition: all 0.3s;
  padding-left: 10px;
  margin-top: 20px;
}

.menuText div:hover {
  transform: scale(1.2);
  margin-left: 15%;
  cursor: pointer;
}

.menu:hover {
  width: 20%;
}

.menuText span:nth-child(2) {
  display: none; 
  
}

.menuText a {
  font-size: 30px;
  padding: 9px;
}

.menuText span:hover{
    transition:  6s;
    animation-delay: 5s;
    
}
.menuText div:hover span:nth-child(2) {
    display: inline; /* Mostramos el texto cuando se hace hover */
    font-size: 20px;

  }
.menu:hover .menuText div span:nth-child(2) {
    display: inline; 
    font-size: 20px;
    transition: 0.6s;
    animation-delay: 5s;
  } 
.pos{
    position: relative;
    margin: 0px;
    padding: 0px;
    height: 1200px;
}
.content{
    margin-left: 6%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.orderFilters{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.genreSelect,
.searchTable,
.status,
.calendar{
    background-color: $mainColor;
    padding: 5px 10px;
    color: $neutralLight;
    border: 0;
    font-family: $mainFont;
    font-size: 1.3em;
    border-radius: 5px;
    margin-top: 10px;
}
.searchTable, 
.calendar{
    border: 2px solid $mainColor;
    color: white;
    background-color: rgba(139, 51, 240, 0.3);
}

.paginado{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px auto;
    padding: 5px 5px;
    width: fit-content;
    border: 1px solid $mainColor;
    border-radius: 10px;
}
.paginado button{
    margin: 0px 10px;
    padding: 0px 10px;
    font-size: 1.3rem;
    background-color: rgba(139, 51, 240, 0.5);
    border: 1pz solid $mainColor;
    border-radius: 10px;
    transition: all 0.2s;
}
.paginado button:hover{
    color: white;
    background-color: $mainColor;
}

.btn-actions{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: fit-content;
    margin: 0px auto;
}

.btn{
    transition: all 0.4s;
}
.btn:hover{
    transform: scale(1.1);
}

.approved,
.pending,
.declined{
    padding: 2px 5px;
    color: $neutralLight;
    border: 0;
    font-family: $mainFont;
    font-size: 1rem;
    border-radius: 5px;
}

.approved{
    background-color: green;
}
.pending{
    background-color: $mainColor;
}
.declined{
    background-color: red;
}
.modalContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.85);
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}