@import "../../scss/variables.scss";

.tablas{
    width: 95%;
    margin: 30px auto;
    min-height: 300px;
    padding: 10px;
    border: 1px solid $mainColor;
    border-radius: 10px;
}

.divTabla{
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome{
    font-size: 4rem;
    margin: 8% auto;
    text-shadow: 2px 0px 2px $mainColor, 0px 2px 2px $mainColor, -2px 0px 2px $mainColor, 0px -2px 2px $mainColor;
    color: rgba(235, 187, 241, 0.932);
}