@import "../../scss/variables.scss";

.tablasDash{
    background-color: red;
}

.title{
    font-size: 2rem;
    text-align: center;
    margin: auto;
    color: rgba(221, 200, 245, 0.938);
    text-shadow: 2px 0px 2px $mainColor, 0px 2px 2px $mainColor, -2px 0px 2px $mainColor, 0px -2px 2px $mainColor;
}

.tablas{
    width: 95%;
    margin: 30px auto;
    min-height: 300px;
    padding: 10px;
    border: 1px solid $mainColor;
    border-radius: 10px;
}

.divTabla{
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome{
    font-size: 4rem;
    margin: 8% auto;
    text-shadow: 2px 0px 2px $mainColor, 0px 2px 2px $mainColor, -2px 0px 2px $mainColor, 0px -2px 2px $mainColor;
    color: rgba(235, 187, 241, 0.932);
}

.table{
    width: 100%;
    padding: 5px;
}
.thead{
    background-color: $mainColor;
    color: white;
}
.tbody{
    background-color: rgba(235, 187, 241, 0.932);
}
.th{
    font-size: 1.2rem;
    padding: 5px 10px;
}
.td{
    text-align: center;
    font-weight: 700;
}

.menu{
    color: white;
    position: absolute;
    left: 0px;
    bottom: 0px;
    height: 100%;
    width: 5%;
    background-color: $mainColor;
    transition: 0.6s;
    padding: 5px;
    margin-top: 10px;

}
.menuText{
    visibility: hidden;
}
.menuText div{
    transition: all 0.3s;
    padding-left: 10px;
}
.menuText div:hover{
    transform: scale(1.2);
    margin-left: 15%;
    cursor: pointer;
}

.menu:hover{
    width: 15%;    
}
.menu:hover .menuText{
    visibility:visible;
}

.pos{
    position: relative;
    margin: 0px;
    padding: 0px;
    height: 800px;
}
.content{
    margin-left: 6%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.orderFilters{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.genreSelect,
.searchTable,
.status{
    background-color: $mainColor;
    padding: 5px 10px;
    color: $neutralLight;
    border: 0;
    font-family: $mainFont;
    font-size: 1.3em;
    border-radius: 5px;
    margin-top: 10px;
}
.searchTable{
    border: 2px solid $mainColor;
    background-color: rgba(139, 51, 240, 0.5);
}

.paginado{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px auto;
    padding: 5px 5px;
    width: fit-content;
    border: 1px solid $mainColor;
    border-radius: 10px;
}
.paginado button{
    margin: 0px 10px;
    padding: 0px 10px;
    font-size: 1.3rem;
    background-color: rgba(139, 51, 240, 0.5);
    border: 1pz solid $mainColor;
    border-radius: 10px;
    transition: all 0.2s;
}
.paginado button:hover{
    color: white;
    background-color: $mainColor;
}