@import "../../scss/variables.scss";

.about {
  font-family: $mainFont;
  font-size: 14px;

  .profiles {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px 0 0 0;

    .profile {
      width: 200px;
      border-radius: 5px;
      border: $neutralDark solid 2px;

      .image {
        img {
          max-width: 100%;
        }
      }

      .info {
        min-height: 200px;
        padding: 0 10px 10px 10px;
      }
      .social {
        background-color: $mainColor;
        padding: 20px;
        img {
          width: 25px;
          height: auto;
          margin-right: 10px;
        }
      }
    }
  }
}

.noDecoration {
  list-style-type: none;

  a {
    text-decoration: none;
    color: black;
    &:hover {
      color: #693a9e;
    }
  }
}
