@import "../../scss/variables.scss";
.modal {
    position: fixed;
    opacity: 0;
    pointer-events: none;
  }
  
  .modalUp {
    
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 1;
      width: 600px;

      pointer-events: unset;
      z-index: 1;
      display: flex; /* Agregado */
      align-items: center; /* Agregado */
      justify-content: center; /* Agregado */
  
    }
    
    .modalContent {
      background-color: rgba(255, 255, 255);
      max-height: 90vh;
      width: 100%;
      color: black;
      padding: 3%;
      font-size: 1.7em;
      overflow-y: scroll;
      border: 2px solid $mainColor;
      align-items: center;
      justify-items: center;
    }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  

  .modalBody button{
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
  }

  .container-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;


  }
  .poster-description-container {
    display: flex;
    border-bottom: 2px solid $mainColor;
    border-radius: 2px;
    
    


  }

  .description-container-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 5px;
    margin-top: 0px;
    margin-right: 15px;
    margin-left: 15px;


  }
  .image-preview-container {
    // width: 180px !important;
    // height: 270px !important;
    // top: 10px;
    // bottom: 15px;
    width: 100%;
    height: 420px ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
  }

  .poster-image {
    // width: 100 !important;
    // height: 270px !important;
    // top: 10px;
    // bottom: 10px;
    width: 100%;
    height: 350px !important ;
    margin-bottom: 15px;

  }
  .imageBtn{
    width: fit-content;
    padding: 2px 8px;
    margin: 0px auto;
  }
  .displayInput {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 5px;

    select{
      width: 80%;
    }

    ul{
      list-style: none;
      width: 80%;
      display: flex;
      flex-wrap: wrap;
      justify-content: start;
    }
    .tags{
      border: 1px $mainColor solid;
      border-radius: 10px;
      padding: 2px 5px;
      
      

    }
    .tags span{
      font-size: 1rem;
      margin: 0px;
      

    }

    .tags button{
      font-size: 1rem;
      padding: 2px;
      background: none;
      margin: 0px;
      color: red
    }
    
    
  }
  .error-message{
    font-size: 10px;
    color: red;
  }

  .country-ul{
    list-style: none;
  }
  .video-image{
    
    width: 400px;
    height: 250px;

    

  }
  .edit-video-image{
    width: 300px;
    height: 150px;

  }
  .file-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 48%
    
  }
  
  .italic-dark {
    font-style: italic ;
    font-weight: bold ;
    right: 10px ;
    list-style: none;
    font-size: 20px;
    width: 100%;
    margin: 0px auto;



  }
  .form-input{
    width: 30%;
    align-items: left;
    padding: 8px;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    
  }
  .media-container {
    text-align: left;
    margin-top: 20px;

    
  }
  .btn{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 5px;

    button{
      margin: 2px 10px;
    }
  }

  
  .info-container img {
    width: 300px;
    height: 400px;
    border-radius: 5px;
    margin-bottom: 15px;
  }

  .container-info .info-container {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }

  .media-container iframe {
    width: 100%;
    height: 400px;
    border-radius: 5px;

  }
 
  .genres {
    display: flex;
  }


@media (max-width: $breakpointMD) {
  .container-info {
    flex-direction: column;
  }

  .media-container iframe {
    height: 300px;
  }
}
