@import "@/scss/variables.scss";
.button {
  background-color: $mainColor;
  padding: 5px 10px;
  color: $neutralLight;
  border: 0;
  font-family: $mainFont;
  font-size: 1.3em;
  border-radius: 5px;
  margin-top: 2px;
}

.order {
  flex-wrap: wrap;
}
.pagination {
  margin: 10px;
}
.rowField {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  padding: 10px;
  flex-wrap: wrap;

  input,
  select {
    padding: 10px;
    height: 40px;
    min-width: 150px;
  }
}
.optionsField {
  margin: 10px;
}

.genres {
  display: flex;
  flex-wrap: wrap;
}
