@import "../../scss/variables.scss";
.nav {
  background-color: $mainColor;
  .logo {
    width: 130px;
    height: auto;
  }
  .searchButton {
    display: inline-block;
    margin-left: 10px;
  }
}
.navList {
  list-style-type: none;
  padding: 20px 0px 20px 0px;
  margin: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: relative;
  align-items: center;

  font: $mainFont;

  li {
    flex: 1;
    margin-right: 20px;
  }

  a {
    font-size: 20px;
  }
}

.searchResultsContainer {
  position: absolute;
  z-index: 2;
}
.movieList {
  list-style-type: none; /* Elimina el marcador de lista */
  padding: 0; /* Elimina el relleno predeterminado */
  margin: 0; /* Elimina el margen predeterminado */
}

.card {
  
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  background-color: #fff;
  margin-bottom: 10px;
  width: 400px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.searchbar__image {
  width: 100px; /* Ajusta el ancho de la imagen */
  height: auto; /* Mantén la proporción de aspecto */
  margin-right: 10px; /* Espacio entre la imagen y el texto */
}

.userpic{
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0px 0px 10px white;
}

.toRight {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;

  .dropdown {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    z-index: 1000;
    margin: 0;
    min-width: 200px;
    border-radius: 10px;
    color: $mainColor;
    
    ul {
      padding-left: 10px;
      list-style: none;
    }

    li {
      font-size: 14px;

      h5{
        margin: 0px auto;
        text-align: center;
        font-size: 1.5rem;
        border-bottom: 1px solid $mainColor;
      }
    
      p{
        text-align: start;
        font-size: 1.4rem;
        font-weight: 500;
        padding: 3px 8px;
        border-radius: 10px;
        transition: all .3s;
      }
      p:hover{
        background-color: $mainColor;
        color: white;
      }

      a {
        text-decoration: none;
        text-align: center;
        font-size: 14px;

        button{
          font-size: 1.1rem;
          font-weight: bold;
          border-radius: 10px;
          border: 1px solid $mainColor;
          background-color: white;
          margin: 0px auto;
          padding: 3px 15px;
          box-shadow: 2px 2px 2px $mainColor;
          transition: all .3s;
        }
        button:hover{
          background-color: $mainColor;
          color: white;
          box-shadow: none;
        }

      }
    }
  }
}
/*/movies/search?*/
