$mainColor: #8b33f0;
$secondayColor: #ffffff;
$mainFont: "Roboto", sans-serif;
$secondaryFont: "Roboto", sans-serif;
$neutralDark: #090111;
$successColor: #28a745; // Verde para éxito
$cancelColor: #dc3545; // Rojo para cancelar
$neutralLight: white;
$breakpointSM: 576px;
$breakpointMD: 768px;
$breakpointLG: 992px;
$breakpointXL: 1200px;
